* {
    background-color: white;
    font-family: "Courier New", Courier, monospace;
}

.logindiv {
    display:inline-block;
    vertical-align: top;
    margin-top: 100px;
    margin-left: 100px;
    padding-left: 25px;
    background-color: white;
    width: 300px;
    border-style: solid;
    border-color: black;
    align-content: right;

}
.regdiv {
    display:inline-block;
    vertical-align: top;
    margin-top: 100px;
    margin-left: 100px;
    padding-left: 25px;
    background-color: white;
    width: 400px;
    border-style: solid;
    border-color: black;
    align-content: right;

}
.form1 {
    align: right;
}



.button1 {
        background-color

}

.msginfo{
    text-size: 10px;
    font-size: 10px;
    font-weight: bold; 

}

.comment {
    margin-left: 50px;
}