<html>
<head>
           {% load staticfiles %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'third_app/style.css' %}" media="screen" title="no title"  charset="utf-8">
  <title>Email Validation</title>
</head>
<body>
 <form action='/logout' method='POST'>
    {% csrf_token %}
      <input type="submit" value="Logout">
  </form>
  
        {% if messages %}
            {% for message in messages %}
                <h2>{{ message }}</h2>
            {% endfor %}   
        {% endif %}

    <h2>Welcome {{ user.first_name }}</h2>
            
    <p> Successfully registered (or logged in)!</p>

    <h1> Your Pokes = {{ been_poked | length }}</h1>
    Who poked you
        <ul>
           
            <!--{% for i in poked_by %}
                <li>
                {{ i.poker.first_name }} {{ i.poker.last_name }} {{ i.poker | length }}
                </li>
            {% endfor %}
             -->
        </ul>    
        <br>

            {% for x in poked_num %}
                
              <li>  {{ x.poker__first_name }} {{ x.poker__last_name }} {{ x.total }}</li>
            {% endfor %}
            
    <p>----------</p>
        <!--{% if pokes.user.id == user.id %}
            {{ pokes }}
        {%endif%}-->

    <!--{{ pokes | length }}-->
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Alias</th> 
    <th>Email</th>
    <th>Poke History</th>
    <th>Action</th>
  </tr>
  {% for user1 in users %}
  <tr>
    <td>{{ user1.first_name }} {{ user1.last_name }}</td>
    <td>{{ user1.alias }} </td> 
    <td>{{ user1.email }}</td>
    <td>
        
        
        {{ user1.poked.all | length}}
    </td>
    <td>
        <form action="/poke" method = "post">
            {% csrf_token %}
            <input type="hidden" name="poked" value="{{ user1.id }}">            
            <input type="submit" name="poke" value="poke">
        </form>
    </td>
  </tr>
  {% endfor %}
</table>


</body>
</html>