<html>
<head>
           {% load staticfiles %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'third_app/style.css' %}" media="screen" title="no title"  charset="utf-8">
  <title>Email Validation</title>
</head>
<body>
 <form action='/logout' method='POST'>
    {% csrf_token %}
      <input type="submit" value="Logout">
  </form>
  
        {% if messages %}
            {% for message in messages %}
                <h2>{{ message }}</h2>
            {% endfor %}   
        {% endif %}

    <h2>Welcome {{ user.first_name }}</h2>
            
    <p> Successfully registered (or logged in)!</p>

    <h1> Your Pokes </h1>
<!--{% if pokes.userpoked.id == user.id %}
    {% for poke in pokes %}
    {{ user.first_name}} {{ user.last_name}} poked you {{ user.poke  | length}}
    {% endfor %}
    {% endif %}-->
    There are {{ pokes | length }} pokes
        <br>



    <p>----------</p>
    {% if pokes.user.id == user.id %}
        {{ pokes }}
    {%endif%}

 <!--{{ pokes | length }}-->
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Alias</th> 
    <th>Email</th>
    <th>Poke History</th>
    <th>Action</th>
  </tr>
  {% for user2 in users %}
  <tr>
    <td>{{ user2.first_name }} {{ user2.last_name }}</td>
    <td>{{ user2.alias }} </td> 
    <td>{{ user2.email }}</td>
    <td>
        
        <!--{% for poke in pokes %}-->
        <!--{% if pokes.userpoked == user2 %}
           {{ pokes | length }}

        {% endif %}-->
        <!--{% endfor %}-->
        {{ pokes | length }}
    </td>
    <td>
        <form action="/poke" method = "post">
                  {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.id }}">
        <input type="hidden" name="userpoked" value="{{ user2.id }}">            
        <input type="submit" name="poke" value="poke">
    </td>
  </tr>
  {% endfor %}
</table>


</body>
</html>